body {
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid rgb(73, 8, 8);
    padding: 8px;
}

thead tr {
    background-color: #8dbef2;
}
