body {
    font-family: 'Times New Roman', Times, serif;
}

.title,h3 {
    text-align: center;
    margin-top: 20px;
}


.center-image {
    display: block;
    margin: 20px auto;
    width: 300px; 
}


.media-section {
    text-align: center;
    margin: 20px 0;
}
