body {
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.gallery {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallery img{
    width: 200px;        
    height: 130px;       
    object-fit: contain;   
    border: 3px solid #222;
    border-radius: 5px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    border-color: #444;
}
