body {
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 75%;
    margin: 25px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

thead th {
    background-color: #ffcba4;
    font-weight: bold;
}

.subject {
    background-color: #edf0cb;
}

.break {
    background-color: #fff2cc;
    font-weight: bold;
}
